<div class="container py-5">
  <h3>Companies</h3>
  <%= link_to "+ Create a Company", new_company_path %><br>
  <% if @companies.empty? %>
  <p>No Companies Found</p>
  <% else %>
    <ul class="company-list list-group my-5">
      <% @companies.each do |company| %>
        <li>
          <a href="<%= company_path(company) %>" class="company-info list-group-item list-group-item-action">
            <%= company.name %>
          </a>
          <%= link_to 'Delete', company, class: 'delete-company', method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
